*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* body{
    display:grid;
    height: 100vh;
    grid-template-columns: minmax(4,1fr);
    grid-template-areas:
    "navbar"
    "hero"
    "main"
    "footer" ;
} */
.navbar img{
    height: 70px;
    width: 70px;
    grid-area: img;
}
.navbar{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    background-color: #d0e5f8;
    width: 100vw;
    height: 10vh;
    grid-template-areas: "img img ul ul";
    /* position: -webkit-sticky; */
    /* position: sticky;
    top: 0px; */
    grid-area: navbar;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    font-size: 1.5em;
    justify-content: space-between;
    padding-top: 20px;
    grid-area: ul;
}
.navbar ul>li:hover{
    text-decoration-line: underline;
    font-size: 1.6rem;
}
 a{
    text-decoration: none;
    color: #7e3928;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.hero{
    grid-area: hero;
}
.hero #heroimg{
    position: absolute;
    width: 100vw;
    height: 30vh;
}
.hero #logo{
    height: 200px;
    width: 200px;
    position: relative;
    top: 10px;
    left: 50px;
    background-color: hwb(208 81% 3% / 0.648);
    border-radius: 300px;
    border: 5px dashed #381912;
    
    
    
}
.hero span{
    position: relative;
    font-size: 4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: hwb(208 81% 3% / 0.648);
    border-radius: 20px;
    border: 5px dashed #381912;
    padding: 10px;
    color: #7e3928;
    top: -50px;
    left: 250px;
    filter: drop-shadow(20px 10px 5px #381912);
}
.footer{
    display: flex;
    background-color: #d0e5f8;
    width: 100vw;
    position: absolute;
    bottom: -250px;
    grid-area: footer;
    justify-content: space-between;
    color: #7e3928;
    font-family: Arial, Helvetica, sans-serif;

}
.footer h2{
    color: #381912;
}
.contact{
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.sm{
    display: flex
    flex-direction: column;
    margin:50px;
}
.links img{
    height: 50px;
    width: 50px;
    margin: 10px;
}
.maincontent{
    display: flex;
    width: 80vw;
    margin-top: 50px;
    justify-content:space-between;
}
.sf{
    display: flex;
    flex-direction: column;
    background-color: #d0e5f8;
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
    border: 3px dashed #381912;
}
.sf img{
    height: 200px;
    width: 400px;
}
.sf span{
    font-size: 2em;
    color: #7e3928;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    text-decoration: underline;
}
.col{
    display: flex;
    flex-direction: column;
    background-color: #d0e5f8;
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
    border: 3px dashed #381912;
}
.col img{
    height: 200px;
    width: 400px;
}
.col span{
    font-size: 2em;
    color: #7e3928;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    text-decoration: underline;
}
.jobs{
    display: flex;
    flex-direction: column;
    background-color: #d0e5f8;
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
    border: 3px dashed #381912;
}
.jobs img{
    height: 200px;
    width: 400px;
}
.jobs span{
    font-size: 2em;
    color: #7e3928;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    text-decoration: underline;
}